* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100vh;
    background-color: rgb(34, 21, 51);
    background-size: 40px 40px; /* Grid cell size */
    background-image: 
          linear-gradient(to right, hsla(0, 1%, 65%, 0.4) 1px, transparent 1px),
          linear-gradient(to bottom, hsla(0, 1%, 65%, 0.4) 1px, transparent 1px);
   /* Light gray background */
    color: whitesmoke;
    line-height: 1.5;
  }


  /* Universal style for containers*/
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  #root {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }