* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Dark text color */
    line-height: 1.5;
  }


  /* Universal style for containers*/
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  #root {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }