


/* This is for mobile */
@media screen and (max-width: 700px) {
    .content-body {
        margin-bottom: 10px;
        border: 1px solid rgb(80, 190, 233);
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        background: linear-gradient(135deg, rgb(80, 190, 233), rgb(255, 28, 122));
        min-width: 550px;
        max-width: 550px;
        height: auto;
    }

    /* .product-title{
        word-wrap: break-word;
    } */
    

    .content-body {
        height: auto;
        margin-bottom: 10px;
        border-bottom: 1px solid rgb(80, 190, 233);
        border-right: 1px solid rgb(80, 190, 233);
        border-top: 1px solid rgb(255, 28, 122);
        border-left: 1px solid rgb(255, 28, 122);
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        background: linear-gradient(135deg, rgb(80, 190, 233), rgb(255, 28, 122));
    }
}

/* This is for Desktop */
@media screen and (min-width: 701px) {

    .content-body {
        max-height: 100%;
        margin-bottom: 10px;
        border: 1px solid rgb(80, 190, 233);
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        background: linear-gradient(135deg, rgb(80, 190, 233), rgb(255, 28, 122));
        min-width: 550px;
        max-width: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .main-content {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100vh;
        align-content: center;
        width: 100%;
        grid-template-columns: repeat(4, 2fr);
    }
    
    .product-title {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-wrap-mode:wrap;
    }

}





