
.header {
    
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 21, 51);
}

.logo {
    height: 10em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    position: relative;
    left: auto;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }









